<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="en-us"/>
    <base href="{global.baseUrl}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> {head.title} | {global.appName} </title>
    <meta name="description" content="{head.description}" />

    <!-- static assets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico" />
    <script type="text/javascript" charset="utf-8" src="public/app.js"> </script>
    <link rel="stylesheet" type="text/css" href="public/app.css">

</head>
<body class="{body.class}">
    <!-- Page Wrapper-->
    <div class="wrapper">

        <!-- Header -->
        <div class="header">
            <a class="logo" href="/">
                <img src="public/logo.png" alt="Logo">
            </a>
            <ul class="menu">
                <li> <a href="/">Home</a> </li>
                <li  class="loggedOut"> <a href="/account/create">Sign up</a> </li>
                <li  class="loggedOut"> <a href="/session/create">login</a> </li>
                <li  class="loggedIn"> <a href="/carts/all"> Carts </a> </li>
                <li class="loggedIn"> <a  href="/menus/all"> Menu </a> </li>
                <li class="loggedIn"> <a  href="/purchases/all"> Purchases </a> </li>
                <li class="loggedIn"> <a href="account/edit">Account Settings</a> </li>
                <li class="loggedIn"> <a id="logoutButton" href="#">Logout</a> </li>
            </ul>
        </div>

        <!-- page specific content -->
        <div class="content">